*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    border: 30px solid;
    border-image: linear-gradient(darkred,black) 1;
    font-family: Georgia, sans-serif;
}

h1,h2{
    font-family: Trebuchet MS, sans-serif;
}
p{
    margin: 10px;
}
.mainContent {
    padding-left: 20px;
    background-color: white;
    border-style: solid;
    border-color: white;
}

.tree {
    float: left;
    margin: 7px;
    position: relative;
}
.letter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 100px;
}
.spartans {
    float: right;
    padding: 15px;
}
.redText{
    color: red;
}
.xerxes {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
.quote {
    text-align: center;
    padding: 10px;
}
.cliff {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 0.5px solid darkred;
}


footer {
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 60em) {
    .xerxes, .tree {
        width: 300;
        height: 150;
    }
    .spartains{
        width: 250;
        height: 150;
    }
    .cliff{
        width: 410;
        height: 100;
    }
}
